# Ignore objects and archives.
*.[oa]
*.lo
.directory
# Ignore bin programs
bin/bin2c
bin/fnt2c
bin/lfbinfo
bin/modetest
bin/xmodetest
bin/wmodetest
bin/test
# Ignore tag files
src/systag.*
# Ignore Wayland autofiles
src/xdg-shell-client-protocol.h
src/xdg-shell-protocol.c
# Ignore test programs
test/arctest
test/bb1test
test/biggtest
test/blittest
test/circtest
test/cliptest
test/clrtable
test/colorops
test/curstest
test/cusptest
test/demointl
test/demomgrx
test/fontdemo
test/fonttest
test/gradtest
test/jpgtest
test/keys
test/life
test/life_db
test/linetest
test/memtest
test/mousetst
test/patrtest
test/pcirctst
test/pixmtest
test/pngtest
test/pnmtest
test/polytest
test/polytedb
test/rgbtest
test/sbctest
test/scroltst
test/speedtst
test/speedts2
test/textpatt
test/winclip
test/wintest
test/wrsztest
test/i18ntest
test/mpoltest
test/scltest
fonts/showfont
# Ignore x11 test programs
test/xarctest
test/xbb1test
test/xbiggtest
test/xblittest
test/xcirctest
test/xcliptest
test/xclrtable
test/xcolorops
test/xcurstest
test/xcusptest
test/xdemointl
test/xdemomgrx
test/xfontdemo
test/xfonttest
test/xgradtest
test/xjpgtest
test/xkeys
test/xlife
test/xlife_db
test/xlinetest
test/xmemtest
test/xmousetst
test/xpatrtest
test/xpcirctst
test/xpixmtest
test/xpngtest
test/xpnmtest
test/xpolytest
test/xpolytedb
test/xrgbtest
test/xsbctest
test/xscroltst
test/xspeedtst
test/xspeedts2
test/xtextpatt
test/xwinclip
test/xwintest
test/xwrsztest
test/xi18ntest
test/xmpoltest
test/xscltest
# Ignore Wayland test programs
test/warctest
test/wbb1test
test/wbiggtest
test/wblittest
test/wcirctest
test/wcliptest
test/wclrtable
test/wcolorops
test/wcurstest
test/wcusptest
test/wdemointl
test/wdemomgrx
test/wfontdemo
test/wfonttest
test/wgradtest
test/wjpgtest
test/wkeys
test/wlife
test/wlife_db
test/wlinetest
test/wmemtest
test/wmousetst
test/wpatrtest
test/wpcirctst
test/wpixmtest
test/wpngtest
test/wpnmtest
test/wpolytest
test/wpolytedb
test/wrgbtest
test/wsbctest
test/wscroltst
test/wspeedtst
test/wspeedts2
test/wtextpatt
test/wwinclip
test/wwintest
test/wwrsztest
test/wi18ntest
test/wmpoltest
test/wscltest
# Ignore testgui programs
testgui/grgui01
testgui/grgui02
testgui/grgui03
testgui/grgui04
testgui/grgui05
testgui/grgui06
testgui/grgui07
testgui/grgui08
testgui/grgui09
testgui/grgui10
testgui/grgui11
testgui/grgui12
testgui/showfnt2
testgui/demmgrx2
testgui/demintl2
# Ignore x11 testgui programs
testgui/xgrgui01
testgui/xgrgui02
testgui/xgrgui03
testgui/xgrgui04
testgui/xgrgui05
testgui/xgrgui06
testgui/xgrgui07
testgui/xgrgui08
testgui/xgrgui09
testgui/xgrgui10
testgui/xgrgui11
testgui/xgrgui12
testgui/xshowfnt2
testgui/xdemmgrx2
testgui/xdemintl2
# Ignore Wayland testgui programs
testgui/wgrgui01
testgui/wgrgui02
testgui/wgrgui03
testgui/wgrgui04
testgui/wgrgui05
testgui/wgrgui06
testgui/wgrgui07
testgui/wgrgui08
testgui/wgrgui09
testgui/wgrgui10
testgui/wgrgui11
testgui/wgrgui12
testgui/wshowfnt2
testgui/wdemmgrx2
testgui/wdemintl2
# Ignore output files from test programs
test/speedtst.log
test/speedts2.log
testimg/output.png
testimg/output.jpg
testimg/outputg.jpg
testimg/output.ppm
testimg/prueba.pbm
testimg/prueba.pgm
testimg/memtest.ppm
