# Ignore objects and archives.
*.[oa]
.directory
# Ignore bin programs
bin/bin2c
bin/fnt2c
bin/lfbinfo
bin/modetest
bin/xmodetest
bin/test
# Ignore tag files
src/systag.*
# Ignore test programs
test/arctest
test/bb1test
test/biggtest
test/blittest
test/circtest
test/cliptest
test/clrtable
test/colorops
test/curstest
test/cusptest
test/demointl
test/demomgrx
test/fontdemo
test/fonttest
test/gradtest
test/jpgtest
test/keys
test/life
test/life_db
test/linetest
test/memtest
test/mousetst
test/patrtest
test/pcirctst
test/pixmtest
test/pngtest
test/pnmtest
test/polytest
test/rgbtest
test/sbctest
test/scroltst
test/speedtst
test/textpatt
test/winclip
test/wintest
test/wrsztest
test/i18ntest
fonts/showfont
# Ignore x11 test programs
test/xarctest
test/xbb1test
test/xbiggtest
test/xblittest
test/xcirctest
test/xcliptest
test/xclrtable
test/xcolorops
test/xcurstest
test/xcusptest
test/xdemointl
test/xdemomgrx
test/xfontdemo
test/xfonttest
test/xgradtest
test/xjpgtest
test/xkeys
test/xlife
test/xlife_db
test/xlinetest
test/xmemtest
test/xmousetst
test/xpatrtest
test/xpcirctst
test/xpixmtest
test/xpngtest
test/xpnmtest
test/xpolytest
test/xrgbtest
test/xsbctest
test/xscroltst
test/xspeedtst
test/xtextpatt
test/xwinclip
test/xwintest
test/xwrsztest
test/xi18ntest
# Ignore testgui programs
testgui/grgui01
testgui/grgui02
testgui/grgui03
testgui/grgui04
testgui/grgui05
testgui/grgui06
testgui/grgui07
testgui/grgui08
testgui/grgui09
testgui/grgui10
testgui/grgui11
testgui/grgui12
testgui/showfnt2
testgui/demmgrx2
testgui/demintl2
# Ignore x11 testgui programs
testgui/xgrgui01
testgui/xgrgui02
testgui/xgrgui03
testgui/xgrgui04
testgui/xgrgui05
testgui/xgrgui06
testgui/xgrgui07
testgui/xgrgui08
testgui/xgrgui09
testgui/xgrgui10
testgui/xgrgui11
testgui/xgrgui12
testgui/xshowfnt2
testgui/xdemmgrx2
testgui/xdemintl2
# Ignore output files from test programs
test/speedtst.log
testimg/output.png
testimg/output.jpg
testimg/outputg.jpg
testimg/output.ppm
testimg/prueba.pbm
testimg/prueba.pgm
testimg/memtest.ppm
